# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Languages for Data Science
- Libraries for Data Science
- Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. ggplot2

<table style="width:14%">
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Jupyter Notebook</td>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>VS Code</td>
</tr>    
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Grigorios Papailiou